doctype html
body
    h1= `Hola - ${user_identifier}`
    #container.col
        p= `Este es el código para verificar su cuenta ${code}`
        p= `Puede usar también el siguiente enlace para confirmar ${url}`